.certificatebeautiful-pages,
.path-mod-certificatebeautiful,
.path-mod-certificatebeautiful-manage-model {
    .certificatebeautiful-report-extra-width {
        width: 40px;
    }
    .certificatebeautiful-report-btn-small {
        padding: 5px 7px;
        border-radius: 6px;
        border: none;
        min-width: 61px;
    }
    
    .structuresitens {
        .structuresitens {
            height: 130px;
            overflow: hidden;
            position: relative;
        }
        .structuresitens fieldset {
            border: 1px solid #c8c8c8;
            padding-inline-start: 0.75em;
            border-radius: 5px;
        }
        .structuresitens legend {
            float: initial;
            width: auto;
            margin-bottom: 5px;
        }
        .structuresitens table {
            width: 100%;
        }
        .structuresitens table th {
            white-space: nowrap;
            width: 10px;
            position: relative;
        }
        .structuresitens table th span {
            position: absolute;
            top: -15px;
            left: 0;
            opacity: 1;
            font-weight: 400;
            animation: smooth .8s ease-in;
            background: #fff;
        }
        @keyframes smooth {
            0% {
                top: -15px;
                opacity: 1;
                background: #fff;
            }
            70% {
                opacity: .8;
                background: #fff;
            }
            100% {
                top: -30px;
                opacity: 0;
                background: #ddd;
            }
        }
        .structuresitens table th span.delete {
            top: -40px;
            opacity: 0;
            background: #ddd;
        }
        .structuresitens .read-more {
            width: 100% !important;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            background: #fff;
            background: linear-gradient(180deg, #ffffff00 0%, #ffffffd4 50%, #fff 100%);
            padding: 14px;
        }
    }
    
    .editpage {
        .certificate-editor {
            width: 100%;
            height: 720px;
            min-width: 1190px;
        }
        .read-more {
            display: none !important;
        }
        .structuresitens {
            height: auto !important;
        }
    }
    .list-certificate {
        fieldset {
            border: 1px solid #dee2e6;
            margin: 2px;
            padding: 0 10px 14px;
        }
        fieldset legend {
            float: none;
            margin: 0 17px;
            width: auto;
            padding: 4px;
            font-size: 17px;
        }
        .certificate-page-root {
            border: 4px dashed #31468c;
            margin: 11px auto;
            padding: 2px;
        }
        .certificate-page-root .certificate-page {
            padding: 10px;
            position: relative;
            &.certificate-page-zoom {
                zoom: .35;
            }
        }
        .certificate-flex-gap {
            gap: 10px
        }
    }
}
