<div>
    {{#str}}edit_page_instruction,certificatebeautiful{{/str}}
    <p>
        <a href="{{url-setting}}" target="_blank">{{#str}}edit_signature_certificate,certificatebeautiful{{/str}}</a>
    </p>
</div>

<div class="d-flex flex-row-reverse">
    <a href="{{url-changemodel}}" class="btn btn-primary mb-3 iconlarge float-right">
        {{#pix}}t/add, core{{/pix}}
        {{#str}}select_model_preview,certificatebeautiful{{/str}}
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="{{url-changeupload}}" class="btn btn-success mb-3 iconlarge float-right">
        {{#pix}}t/add, core{{/pix}}
        {{#str}}select_background_preview,certificatebeautiful{{/str}}
    </a>
</div>

<iframe class="certificate-editor" src="{{{iframe-url}}}"
        frameborder="0" allowfullscreen
        sandbox="allow-scripts allow-same-origin allow-popups allow-forms allow-top-navigation"
        allow=":encrypted-media; :picture-in-picture"></iframe>

{{{form_components}}}

<style>
    .certificate-editor {
        width: 100%;
        height: 720px;
        min-width: 1190px;
    }
    .read-more {
        display: none !important;
    }
    .structuresitens {
        height: auto !important;
    }
</style>