<style>
    fieldset {
        border: 1px solid #dee2e6;
        margin: 2px;
        padding: 0 10px 14px;
    }
    fieldset legend {
        float: none;
        margin: 0 17px;
        width: auto;
        padding: 4px;
        font-size: 17px;
    }
    .certificate-page-root {
        border: 4px dashed #31468c;
        display: inline-block;
    }
    .certificate-page-root .certificate-page {
        padding: 10px;
        height: calc(595px + 20px);
        width: calc(955px + 20px);
        zoom: .36;
    }
    .certificate-flex-gap {
        gap: 10px
    }
</style>

<div class="{{{class-root}}}">
    {{#pages}}
        <fieldset>
            <legend>{{{title}}}</legend>
            <div class="certificate-page-root mb-3">
                <div class="certificate-page">
                    {{{pagina}}}
                </div>
            </div>
            <div>
                <a href="{{{addpage_href}}}" class="btn btn-success pt-1 pb-1">
                    {{{addpage_title}}}
                </a>
            </div>
        </fieldset>
    {{/pages}}
</div>

